<mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
<mat-card class="h-100">
  <mat-card-content class="h-100 d-flex align-items-center">
    <div class="container mx-auto">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="d-flex align-items-center">
            <img matCardAvatar src="assets/logo.png" alt="" style="height: 100px; width: 100px">
<!--            <div class="ms-4" style="font-weight: bold; font-size: xxx-large">常武会</div>-->
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-auto" style="font-weight: bold; font-size: large">时常学、时常想、时常练</div>
      </div>
      <div class="row mt-4">
        <mat-form-field class="col">
          <mat-label>手机号</mat-label>
          <input
            matInput
            type="tel"
            name="phone"
            [formControl]="signinForm.controls['phone'] | formControl"
            placeholder="13888888888"
            value="">
          <mat-icon matSuffix (click)="cleanPhone()">
            <fa-icon [icon]="faTrash"></fa-icon>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100 col">
          <input
            type="number"
            name="code"
            matInput
            placeholder="验证码"
            [formControl]="signinForm.controls['code'] | formControl"
            value="">
        </mat-form-field>
        <div class="col-auto">
          <button mat-raised-button class="w-100" color="primary" (click)="sendValidCode()"
                  [disabled]="!canSendCode()">
            <ng-template [ngIf]="sendCodeTime > 0">{{sendCodeTime}}s</ng-template>
            <ng-template [ngIf]="sendCodeTime == 0">{{'发送'}}</ng-template>
          </button>
        </div>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" class="w-100 mb-1" [disabled]="signinForm.invalid"
                (click)="submit()">
          <ng-template [ngIf]="isLogin">
            {{'登录'}}
          </ng-template>
          <ng-template [ngIf]="isBindPhone">
            {{'绑定'}}
          </ng-template>
        </button>
        <button mat-raised-button color="accent" class="w-100" *ngIf="isBindPhone" (click)="toMe()">
          {{'取消'}}
        </button>
      </div>
      <div class="row my-5" *ngIf="isLogin">
        <mat-divider class="col my-auto" [inset]="true"></mat-divider>
        <div class="col-auto d-flex align-items-center">
          <div class="text-center" style="font-weight: lighter">{{'或'}}</div>
        </div>
        <mat-divider class="col my-auto" [inset]="true"></mat-divider>
      </div>
      <div class="row justify-content-center" *ngIf="isLogin">
        <div class="col-auto">
          <div class="d-flex align-items-center">
            <button mat-button (click)="toWechatLogin()">
              <img src="assets/icon64_wx_logo.png" style="height: 32px" alt="使用微信登录">
              {{'使用微信登录'}}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
