<div *ngIf="!user" class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row m-1">
      <button mat-raised-button color="primary" (click)="toLoginPage()" class="col align-content-center">登录
      </button>
    </div>
    <div class="row m-1 mt-3">
      <button mat-raised-button color="primary" (click)="toWeChatLogin()" class="col align-content-center">微信授权登录
      </button>
    </div>
  </div>
</div>
<div *ngIf="user && !user?.phone" class="container">
  <div class="row justify-content-center p-1">
    <button mat-raised-button color="primary" (click)="toBindPhonePage()" class="col align-content-center">绑定手机号后开始使用
    </button>
  </div>
</div>
<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        [src]="user?.headimgurl"
        alt="head_img" class="user_header"/>
      <mat-card-title>{{ user?.nickname }}</mat-card-title>
      <mat-card-subtitle>手机号：{{ user?.phone }}</mat-card-subtitle>
      <mat-card-subtitle [routerLink]="'/profile/' + user?.uuid">
        角色：{{user?.displayRoles()}} >
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="mt-3 p-0">
    <mat-card-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          <mat-icon matListIcon>
            <fa-icon icon="check"></fa-icon>
          </mat-icon>
          <div matLine routerLink="/check-in">去打卡</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          <mat-icon matListIcon>
            <fa-icon icon="bolt"></fa-icon>
          </mat-icon>
          <div matLine routerLink="/check-in-histories" [queryParams]="{userID: user?.id}">我的历史打卡</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          <mat-icon matListIcon>
            <fa-icon icon="calendar"></fa-icon>
          </mat-icon>
          <div matLine routerLink="/check-in-top">打卡榜单</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          <mat-icon matListIcon>
            <fa-icon icon="user"></fa-icon>
          </mat-icon>
          <div matLine [routerLink]="'/profile/' + user?.uuid">更多信息</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option>
          <mat-icon matListIcon>
            <fa-icon icon="wrench"></fa-icon>
          </mat-icon>
          <div matLine routerLink="/setting">设置</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option *ngIf="user?.hasRole('admin')">
          <mat-icon matListIcon>
            <fa-icon icon="users"></fa-icon>
          </mat-icon>
          <div matLine routerLink="/admin/users">管理用户</div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>
