<div *ngIf="!user" class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row m-1">
      <button mat-raised-button color="primary" (click)="toLoginPage()" class="col align-content-center">登录
      </button>
    </div>
    <div class="row m-1 mt-3">
      <button mat-raised-button color="primary" (click)="toWeChatLogin()" class="col align-content-center">微信授权登录
      </button>
    </div>
  </div>
</div>
<div *ngIf="user && !user?.phone" class="container">
  <div class="row justify-content-center p-1">
    <button mat-raised-button color="primary" (click)="toBindPhonePage()" class="col align-content-center">绑定手机号
    </button>
  </div>
</div>
<mat-card *ngIf="user">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="user?.headimgurl"
    />
    <mat-card-title>{{ user?.nickname }}</mat-card-title>
    <mat-card-subtitle>{{ user?.phone }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="user?.phone">
    <button mat-raised-button color="primary" routerLink="/check-in">去打卡</button>
    <button mat-raised-button color="primary" routerLink="/check-in-top">查看今日打卡榜单</button>
    <button mat-raised-button color="primary" routerLink="/check-in-histories" [queryParams]="{userID: user?.id}">
      查看历史打卡
    </button>
  </mat-card-actions>
</mat-card>
