<mat-card appearance="outlined" class="m-1">
  <mat-card-title>今日打卡</mat-card-title>
  <mat-card-subtitle *ngIf="!todayCheckIn">今日还未打卡，点击按钮上传打卡文件</mat-card-subtitle>
  <mat-card-subtitle *ngIf="todayCheckIn">已打卡</mat-card-subtitle>
  <mat-card-content>
    <ng-container>
      <!--从相册中选择-->
      <div class="flex flex-nowrap flex-col items-center my-5">
        <div>
          <!--未打卡时-->
          <ng-container *ngIf="!todayCheckIn">
            <input #fileUpload (change)="onFileSelected($event)"
                   [style.display]="'none'" accept="video/*" type="file">
            <button (click)="fileUpload.click()" [disabled]="loading" aria-label="选择打卡视频" class="ms-1"
                    color="primary"
                    mat-fab>
              <mat-icon>
                <fa-icon [icon]="faFile"></fa-icon>
              </mat-icon>
            </button>
          </ng-container>
          <!--已打卡时-->
          <ng-container *ngIf="todayCheckIn">
            <button aria-label="重新选择打卡视频" class="ms-1" mat-fab style="background-color: green">
              <mat-icon>
                <fa-icon [icon]="faCheck"></fa-icon>
              </mat-icon>
            </button>
          </ng-container>
        </div>
        <div>
          <p *ngIf="file">已选择: {{file.name}}</p>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex flex-col flex-nowrap items-center w-full">
      <button (click)="confirmCheckIn()" *ngIf="!todayCheckIn" [disabled]="!file || loading" class="w-100"
              color="primary"
              mat-raised-button>
        {{'确认打卡'}}
      </button>
      <ng-container *ngIf="todayCheckIn">
        <button (click)="toShowCheckIn(todayCheckIn.key)" class="w-100" color="accent" mat-raised-button>
          {{'查看视频'}}
        </button>
        <button (click)="resetCheckIn()" class="w-100" color="warn" mat-button>
          {{'重新打卡'}}
        </button>
      </ng-container>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="uploadProgressValue != 0" [value]="uploadProgressValue"
                      mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
<mat-card *ngIf="userID !== 0" appearance="outlined" class="m-1">
  <mat-calendar (monthSelected)="onMonthSelected($event)"
                [dateClass]="dateClass()"
                [headerComponent]="calendarHeader">
  </mat-calendar>
  <mat-card-footer>
    <mat-progress-bar *ngIf="calendarLoading" mode="query"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

