<div>
  <button (click)="openCreateCourseDialog()" class="m-1" color="primary" mat-raised-button>创建课程</button>
  <table [dataSource]="dataSource" class="w-100" mat-table>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>操作</th>
      <td *matCellDef="let course" mat-cell>
        <button [routerLink]="'/admin/courses/' + course?.id" color="primary" mat-icon-button>
          <mat-icon>
            <fa-icon [icon]="faEdit"></fa-icon>
          </mat-icon>
        </button>
        <button (click)="onClickDeleteCourse(course?.id)" color="warn" mat-icon-button>
          <mat-icon>
            <fa-icon [icon]="faTrash"></fa-icon>
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- id -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let element" mat-cell> {{ element?.id }}</td>
    </ng-container>

    <ng-container matColumnDef="school">
      <th *matHeaderCellDef mat-header-cell>学校</th>
      <td *matCellDef="let element" mat-cell> {{ element?.school?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="coach">
      <th *matHeaderCellDef mat-header-cell>教练</th>
      <td *matCellDef="let element" mat-cell> {{ element?.coach?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="startDateTime">
      <th *matHeaderCellDef mat-header-cell>上课时间</th>
      <td *matCellDef="let element" mat-cell> {{ element.startDate + ' ' + element.startTime }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page of periodic elements"
                 showFirstLastButtons>
  </mat-paginator>
</div>
