<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'anms.settings.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="settings$ | async as settings" class="flex flex-col space-y-4">
      <span class="text-xl">{{ 'anms.settings.general.title' | translate }}</span>
      <mat-form-field>
        <mat-select (selectionChange)="onLanguageSelect($event)"
                    [ngModel]="settings.language"
                    [placeholder]="'anms.settings.general.placeholder' | translate"
                    name="language">
          <ng-container *ngFor="let l of languages">
            <!-- ngFor hack of missing ngLet of Angular -->
            <mat-option *ngFor="let title of ['anms.settings.general.language.' + l.value | translate]"
                        [title]="title !== l.label
                    ? title
                    : ''"
                        [value]="l.value">
              {{ l.label }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-label>{{ 'anms.settings.themes.sticky-header' | translate }}
        </mat-label>
        <mat-slide-toggle
          (change)="onStickyHeaderToggle($event)"
          [checked]="settings.stickyHeader">
        </mat-slide-toggle>
      </div>
      <span class="text-xl">{{ 'anms.settings.themes.title' | translate }}</span>
      <mat-form-field>
        <mat-select (selectionChange)="onThemeSelect($event)"
                    [ngModel]="settings.theme"
                    [placeholder]="'anms.settings.themes.placeholder' | translate"
                    name="themes">
          <mat-option *ngFor="let t of themes" [value]="t.value">
            {{ 'anms.settings.themes.' + t.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-label>{{ 'anms.settings.themes.night-mode' | translate }}
        </mat-label>
        <mat-slide-toggle
          (change)="onAutoNightModeToggle($event)"
          [checked]="settings.autoNightMode">
        </mat-slide-toggle>
      </div>
      <span class="text-xl">{{ 'anms.settings.animations.title' | translate }}</span>
      <div>
        <mat-label>{{ 'anms.settings.animations.page' | translate }}
        </mat-label>
        <mat-slide-toggle
          *ngIf="settings.pageAnimationsDisabled"
          [disabled]="true"
          matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari"
          matTooltipPosition="before">
        </mat-slide-toggle>
      </div>
      <mat-slide-toggle
        (change)="onPageAnimationsToggle($event)"
        *ngIf="!settings.pageAnimationsDisabled"
        [checked]="settings.pageAnimations">
      </mat-slide-toggle>
      <div>
        <mat-label>{{ 'anms.settings.animations.elements' | translate }}
        </mat-label>
        <mat-slide-toggle
          (change)="onElementsAnimationsToggle($event)"
          [checked]="settings.elementsAnimations">
        </mat-slide-toggle>
      </div>
    </form>
  </mat-card-content>
</mat-card>
