<mat-card>
  <mat-card-header>Course create</mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="container">
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>学校</mat-label>
          <mat-select formControlName="schoolId">
            <mat-option *ngFor="let school of schools" [value]="school.id">
              {{school.name}} {{school.address}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>上课日期</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>上课时间</mat-label>
          <input matInput placeholder="上课时间" formControlName="startTime" required>
        </mat-form-field>
      </div>
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>负责人</mat-label>
          <mat-select formControlName="managerId" required>
            <mat-option *ngFor="let coach of coaches" [value]="coach.id">
              {{coach.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>教练</mat-label>
          <mat-select formControlName="coachId">
            <mat-option *ngFor="let coach of coaches" [value]="coach.id">
              {{coach.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row w-100">
        <mat-form-field appearance="fill">
          <mat-label>助教(多选)</mat-label>
          <mat-select [multiple]="true" formControlName="assistantCoachIds">
            <mat-option *ngFor="let coach of coaches" [value]="coach.id">
              {{coach.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="container">
      <div class="row">
        <button class="col" mat-raised-button color="primary" (click)="onSave()">保存</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
