@use '@angular/material' as mat;

$anms-blue-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900),
        accent: mat.define-palette(mat.$light-blue-palette),
        warn: mat.define-palette(mat.$pink-palette, 600),
      )
    )
);
