@use '@angular/material' as mat;

$anms-light-theme: mat.define-light-theme(
    (
      color: (
        primary: mat.define-palette(mat.$grey-palette, 200, 500, 300),
        accent: mat.define-palette(mat.$brown-palette, 200),
        warn: mat.define-palette(mat.$deep-orange-palette, 200),
      )
    )
);
