<div class="m-2">
  <h1
    style="text-align:center;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:1.2em;font-weight:bold;display:table;margin:2em auto 1em;padding:0 1em;border-bottom:2px solid rgba(15, 76, 129, 1);color:#3f3f3f;margin-top: 0">
    极简咏春拳:商务人士的卓越之选</h1>

  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    各位商务精英们，当您在商海中拼搏时，是否想拥有一项独特的技能与素养提升方式？极简咏春拳，就是您的理想之选。</p>
  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    <strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">极简咏春拳，不仅仅是一门武术。</strong>
  </p>
  <app-image [src]="'assets/article-1/WechatIMG285.jpg'"></app-image>
  <h3
    style="text-align:left;line-height:1.2;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:1.1em;font-weight:bold;margin:2em 8px 0.75em 0;padding-left:8px;border-left:3px solid rgba(15, 76, 129, 1);color:#3f3f3f">
    对于商务人士：</h3>
  <ul
    style="text-align:left;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin-left:0;padding-left:1em;list-style:circle;color:#3f3f3f">
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">增强体魄</strong>：助您摆脱工作疲惫，拥有健康活力，以更好的状态迎接工作挑战。
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">提升专注力</strong>：在拳术练习中培养的专注，可直接转化到工作中，让您在处理事务时更加高效、精准。
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">塑造坚韧品格</strong>：历经训练的磨砺，让您在面对商务困难时更具韧性与毅力。
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">领悟智慧哲理</strong>：如以巧破力等理念，能启发您在商务决策中灵活应变。
    </li>
  </ul>
  <app-image [src]="'assets/article-1/WechatIMG282.jpg'"></app-image>
  <h3
    style="text-align:left;line-height:1.2;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:1.1em;font-weight:bold;margin:2em 8px 0.75em 0;padding-left:8px;border-left:3px solid rgba(15, 76, 129, 1);color:#3f3f3f">
    我们的极简咏春拳课程：</h3>
  <ul
    style="text-align:left;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin-left:0;padding-left:1em;list-style:circle;color:#3f3f3f">
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">精炼高效</strong>：短时间内让您领略咏春精髓。
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">专业教练指导</strong>：确保学习质量。
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">适应商务人士时间</strong>：不影响工作安排。
    </li>
  </ul>
  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    加入“常武功夫”练习极简咏春拳，在这里，我们采用科学分解量化训练，让你能快速掌握核心技巧。每一次出拳、每一个动作都清晰明了，高效提升你的能力。为您的商务之旅增添力量与智慧！让您在商场与拳场都能游刃有余，展现非凡魅力！</p>
  <app-image [src]="'assets/article-1/WechatIMG281.jpg'"></app-image>
  <h3
    style="text-align:left;line-height:1.2;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:1.1em;font-weight:bold;margin:2em 8px 0.75em 0;padding-left:8px;border-left:3px solid rgba(15, 76, 129, 1);color:#3f3f3f">
    我们的公开课活动流程如下：</h3>
  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    <strong style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">时间</strong>：2024年7月13日周六15:00-17:00<br><strong
    style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">地址</strong>：武汉市硚口区南国大武汉家装U座1101<br><strong
    style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">活动费用</strong>：298元/人<br><strong
    style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">注意事项</strong>：请着运动服、运动鞋<br><strong
    style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">报名方式</strong>：
    <button (click)="clickEnroll()" color="primary" mat-raised-button>去报名</button>
    <mat-card class="mt-2">
      <mat-card-header>
        <mat-card-title>我的报名</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!--未登陆-->
        <ng-container *ngIf="!auth.isAuthenticated()">
          <button (click)="toLogin()" mat-raised-button>登陆后查看</button>
        </ng-container>
        <ng-container *ngIf="auth.isAuthenticated()">
          <!--有报名信息-->
          <ng-container *ngIf="enroll">
            <p>单号: {{ enroll.out_trade_no.substring(enroll.out_trade_no.length - 10) }}</p>
            <p>时间: {{ enroll.created_at }}</p>
            <p>金额: {{ enroll.amount / 100 }}¥</p>
            <p>状态: {{ enroll.status }}</p>
          </ng-container>
          <!--无报名信息-->
          <ng-container *ngIf="!enroll">
            <p>无报名信息</p>
          </ng-container>
          <button (click)="refreshEnroll()" mat-raised-button>刷新</button>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </p>
  <h3
    style="text-align:left;line-height:1.2;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:1.1em;font-weight:bold;margin:2em 8px 0.75em 0;padding-left:8px;border-left:3px solid rgba(15, 76, 129, 1);color:#3f3f3f">
    活动流程</h3>
  <ul
    style="text-align:left;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin-left:0;padding-left:1em;list-style:circle;color:#3f3f3f">
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">14:30-15:00</strong>：签到
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">15:00-16:00</strong>：极简咏春拳介绍与展示
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">16:00-16:30</strong>：体验科学分解量化训练
    </li>
    <li style="text-align:left;line-height:1.75;text-indent:-1em;display:block;margin:0.2em 8px;color:#3f3f3f">
      <span>• </span><strong style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">16:30-17:00</strong>：互动交流与答疑
    </li>
  </ul>
  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    快来加入我们的公开课，开启属于你的咏春之旅吧！</p>
  <p
    style="text-align:justify;line-height:1.75;font-family:-apple-system-font,BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB , Microsoft YaHei UI , Microsoft YaHei ,Arial,sans-serif;font-size:14px;margin:1.5em 8px;letter-spacing:0.1em;color:#3f3f3f">
    <strong
      style="text-align:left;line-height:1.75;color:rgba(15, 76, 129, 1);font-weight:bold">让常武功夫极简咏春拳成为你商务人生的精彩点缀！</strong>
  </p>
  <!--  <app-image [src]="'assets/article-1/WechatIMG280.jpg'"></app-image>-->
  <app-image [src]="'assets/article-1/wechat-person.png'" class="w-1/2"></app-image>

  <style>
    .hljs.code__pre::before {
      position: initial;
      padding: initial;
      content: '';
      display: block;
      height: 25px;
      background-color: transparent;
      background-image: url("https://doocs.oss-cn-shenzhen.aliyuncs.com/img/123.svg");
      background-position: 14px 10px !important;
      background-repeat: no-repeat;
      background-size: 40px !important;
    }

    .hljs.code__pre {
      padding: 0 !important;
    }

    .hljs.code__pre code {
      display: -webkit-box;
      padding: 0.5em 1em 1em;
      overflow-x: auto;
      text-indent: 0;
    }
  </style>

</div>
