<figure
  style="
          text-align: left;
          line-height: 1.75;
          font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue,
            PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei,
            Arial, sans-serif;
          font-size: 14px;
          margin: 1.5em 8px;
          color: #3f3f3f;
        "
>
  <img
    [src]="src"
    alt=""
    style="
            text-align: left;
            line-height: 1.75;
            font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue,
              PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei,
              Arial, sans-serif;
            font-size: 14px;
            border-radius: 4px;
            display: block;
            margin: 0.1em auto 0.5em;
            width: 100% !important;
          "
    title="null"
  />
</figure>
