<mat-card appearance="outlined" class="h-full">
  <div class="flex flex-nowrap flex-col items-center mt-4">
    <img *ngIf="checkIn?.headImgUrl"
         [routerLink]="'/profile/' + checkIn?.userUUID"
         [src]="checkIn?.headImgUrl"
         alt=""
         class="head_img"/>
    <div class="row">
      <h2 class="text-center">{{checkIn?.userName}}</h2>
    </div>
  </div>
  <mat-card-title>
    <div class="text-center">打卡排名: {{checkIn?.dayRank}}</div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="text-center">打卡时间: {{(checkIn?.createdAt || 0) * 1000 | date: 'mediumTime'}}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="checkIn">
      <video [style.width]="'100%'" controls>
        <source [src]="checkIn.url">
        Your browser does not support the video tag.
      </video>
    </ng-container>
  </mat-card-content>
</mat-card>
