<mat-card appearance="outlined">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <img *ngIf="checkIn?.headImgUrl"
             class="head_img"
             [src]="checkIn?.headImgUrl"
             [routerLink]="'/profile/' + checkIn?.userUUID"
        />
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">{{checkIn?.userName}}</h2>
    </div>
  </div>
  <mat-card-title>
    <div class="text-center">打卡排名: {{checkIn?.dayRank}}</div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="text-center">打卡时间: {{(checkIn?.createdAt || 0) * 1000 | date: 'mediumTime'}}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="checkIn">
      <video controls [style.width]="'100%'">
        <source [src]="checkIn.url">
        Your browser does not support the video tag.
      </video>
    </ng-container>
  </mat-card-content>
</mat-card>
