<div
  class="bg-[url('https://lanhu.oss-cn-beijing.aliyuncs.com/pstlgv8gv6bja2s3hc2jkeksvew0cd7c50c065abf-236a-4019-a7bb-1ce7f4bcba7a')] bg-no-repeat bg-cover">
  <!--未登陆-->
  <div *ngIf="!user" class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row m-1">
        <button
          (click)="toLoginPage()"
          class="col align-content-center"
          color="primary"
          mat-raised-button
        >
          登录
        </button>
      </div>
      <div class="row m-1 mt-3">
        <button
          (click)="toWeChatLogin()"
          class="col align-content-center"
          color="primary"
          mat-raised-button
        >
          微信授权登录
        </button>
      </div>
    </div>
  </div>
  <!--已登陆，未绑定手机号-->
  <div *ngIf="user && !user?.phone" class="container">
    <div class="row justify-content-center p-1">
      <button
        (click)="toBindPhonePage()"
        class="col align-content-center"
        color="primary"
        mat-raised-button
      >
        绑定手机号后开始使用
      </button>
    </div>
  </div>
  <!--已登陆-->
  <div *ngIf="user">
    <div [routerLink]="'/profile/' + user.uuid" class="flex flex-row flex-nowrap p-3 py-6" matRipple>
      <div class="flex-initial">
        <img
          [ngSrc]="user.headimgurl || ''"
          alt="head_img"
          class="rounded-full"
          height=55
          width=55
        />
      </div>
      <div class="flex flex-auto flex-row flex-nowrap justify-between ms-2">
        <!--name、phone-->
        <div class="flex-auto flex flex-col flex-nowrap justify-center">
          <div class="flex flex-row flex-nowrap content-center">
            <!--name-->
            <span class="text-xl">{{ user.nickname }}</span>
            <!--roles-->
            <div class="bg-amber-500 rounded-xl p-0.5 px-1 mx-1 flex items-center">
              <img
                alt="role"
                height="33"
                ngSrc="https://lanhu.oss-cn-beijing.aliyuncs.com/pszl7h2wuvnji6hd12ofwwsnp2byfut9x91909cc96-6156-4f6c-83c8-d0d46df21d06"
                style="width: 15px"
                width="28">
              <span class="text-xs text-white">{{ user.displayRoles() }}</span>
            </div>
          </div>
          <div class="text-xs mt-1">
            手机号：{{ user.phone }}
          </div>
        </div>
        <!--right arrow-->
        <div class="flex-initial flex items-center text-gray-400">
          <mat-icon>
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </mat-icon>
        </div>
      </div>
    </div>
    <!--方块菜单-->
    <div class="grid grid-cols-4 gap-4 mx-4 grid-flow-dense">
      <div *ngFor="let menu of blockMenus(user)"
           [routerLink]="menu.link" class="flex flex-nowrap flex-col justify-around items-center bg-white rounded-xl"
           matRipple>
        <img
          [ngSrc]="menu.img"
          alt=""
          class="my-2"
          height="20"
          style="width: 33px" width="20"/>
        <span class="text-xs mb-2">{{menu.name}}</span>
      </div>
    </div>
    <!--列表菜单-->
    <div class="m-4 rounded-xl bg-white grid grid-rows-{{listMenus.length}} divide-y divide-gray-100">
      <div *ngFor="let menu of listMenus(user)" [queryParams]="menu.queryParams"
           [routerLink]=menu.link class="flex flex-row flex-nowrap items-center py-2" matRipple>
        <mat-icon class="flex-initial text-gray-500 m-2 mx-3 text-xl">
          <fa-icon [icon]="menu.icon"></fa-icon>
        </mat-icon>
        <div class="flex-auto flex justify-between items-center">
          <div class="text-lg">{{menu.name}}</div>
          <mat-icon class="text-gray-400">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
