<div *ngIf="profile">
  <mat-card class="m-2">
    <div class="text-center">
      <img [src]="profile?.headimgurl" alt="head_img" class="head_img">
      <div class="mt-1">@{{profile?.nickname}}</div>
    </div>
  </mat-card>
  <mat-card class="m-2">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon class="icon">
          <fa-icon icon="users"></fa-icon>
        </mat-icon>
        <div mat-line>
          {{'角色: ' + profile?.displayRoles()}}
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="profile?.coach?.level">
        <mat-icon matListIcon class="icon">
          <fa-icon icon="user"></fa-icon>
        </mat-icon>
        <div mat-line>{{'教练级别: ' + displayLevel(profile?.coach?.level)}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="profile?.coach?.teachingSpace">
        <mat-icon matListIcon class="icon">
          <fa-icon icon="building"></fa-icon>
        </mat-icon>
        <div mat-line>{{'任教单位: ' + profile?.coach?.teachingSpace}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="profile?.coach?.teachingAge">
        <mat-icon matListIcon class="icon">
          <fa-icon icon="address-book"></fa-icon>
        </mat-icon>
        <div mat-line>{{'任教年限: ' + profile?.coach?.teachingAge}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="(profile?.coach?.teachingExperiences || []).length > 0">
        <mat-icon matListIcon class="icon">
          <fa-icon icon="list"></fa-icon>
        </mat-icon>
        <div mat-line>{{'任教经历: '}}</div>
        <div mat-line *ngFor="let e of profile?.coach?.teachingExperiences">
          <div class="ms-3">{{'- ' + e}}</div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

