<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">
        {{ '今日打卡榜单' }}
      </h1>
    </div>
  </div>
  <div class="row" rtl>
    <div class="col-md-12 col-lg-6">
      <ng-container *ngIf="checkInList && checkInList.length > 0">
        <mat-card
          *ngFor="let checkIn of checkInList; index as i">
          <mat-card-header>
            <img
              mat-card-avatar
              [src]="checkIn?.headImgUrl"
            />
            <mat-card-title>Top {{i + 1}}</mat-card-title>
            <mat-card-subtitle>@{{checkIn?.userName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="checkIn?.createdAt">打卡时间: {{(checkIn.createdAt || 0) * 1000 | date: 'shortTime'}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/check-in/{{checkIn?.key}}">查看</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="!checkInList || checkInList.length == 0">
        <h2>未有数据产生</h2>
      </ng-container>
    </div>
  </div>
</div>
