// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';
@import './themes/blue-theme';

@include mat.all-component-themes($anms-theme);

.default-theme {
}

.light-theme {
  @include mat.all-component-colors($anms-light-theme);
}

.black-theme {
  @include mat.all-component-colors($anms-black-theme);
}

.nature-theme {
  @include mat.all-component-colors($anms-nature-theme);
}

.blue-theme {
  @include mat.all-component-colors($anms-blue-theme);
}

.head_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-color: #fafafa !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
