<mat-card class="m-1">
  <mat-card-title>今日打卡</mat-card-title>
  <mat-card-subtitle *ngIf="!todayCheckIn">今日还未打卡，点击按钮上传打卡文件</mat-card-subtitle>
  <mat-card-subtitle *ngIf="todayCheckIn">今日已打卡</mat-card-subtitle>
  <mat-card-content>
    <!--已打卡-->
    <ng-container *ngIf="todayCheckIn">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              查看打卡视频
            </mat-panel-title>
            <mat-panel-description>
              打卡时间: {{(todayCheckIn?.createdAt || 0) * 1000 | date: 'mediumTime'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <video controls [style.width]="'100%'">
              <source [src]="todayCheckIn.url">
              Your browser does not support the video tag.
            </video>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <!--未打卡-->
    <ng-container *ngIf="!todayCheckIn">
      <!--从相册中选择-->
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-auto">
            <input type="file" [style.display]="'none'"
                   (change)="onFileSelected($event)" #fileUpload accept="video/*">
            <button mat-fab color="primary" aria-label="选择打卡视频" (click)="fileUpload.click()" class="ms-1" [disabled]="loading">
              <mat-icon>
                <fa-icon icon="file"></fa-icon>
              </mat-icon>
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <p *ngIf="file">已选择: {{file.name}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="w-100" (click)="confirmCheckIn()" *ngIf="!todayCheckIn"
            [disabled]="!file || loading">
      {{'确认打卡'}}
    </button>
    <button mat-raised-button color="warn" class="w-100" (click)="resetCheckIn()" *ngIf="todayCheckIn">
      {{'重新打卡'}}
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" *ngIf="uploadProgressValue != 0"
                      [value]="uploadProgressValue"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
<mat-card class="m-1" *ngIf="userID !== 0">
  <mat-calendar [dateClass]="dateClass()"
                (monthSelected)="onMonthSelected($event)"
                [headerComponent]="calendarHeader">
  </mat-calendar>
  <mat-card-footer>
    <mat-progress-bar mode="query" *ngIf="calendarLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

