<mat-card>
  <mat-card-title>今日打卡</mat-card-title>
  <mat-card-subtitle *ngIf="!todayCheckIn">今日还未打卡，点击按钮上传打卡文件</mat-card-subtitle>
  <mat-card-subtitle *ngIf="todayCheckIn">今日已打卡</mat-card-subtitle>
  <mat-card-content>
    <!--已打卡-->
    <ng-container *ngIf="todayCheckIn">
      <video controls [style.width]="'100%'">
        <source [src]="todayCheckIn.url">
        Your browser does not support the video tag.
      </video>
      <p>打卡时间: {{(todayCheckIn?.createdAt || 0) * 1000 | date: 'mediumTime'}}</p>
    </ng-container>
    <!--未打卡-->
    <ng-container *ngIf="!todayCheckIn">
      <!--从相册中选择-->
      <input type="file" [style.display]="'none'"
             (change)="onFileSelected($event)" #fileUpload accept="video/*">
      <button mat-fab color="primary" aria-label="选择打卡视频" (click)="fileUpload.click()" class="ms-1">
        <mat-icon>
          <fa-icon icon="file"></fa-icon>
        </mat-icon>
      </button>
      <p *ngIf="file">已选择: {{file.name}}</p>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="confirmCheckIn()" *ngIf="!todayCheckIn"
            [disabled]="!file || loading">
      确认打卡
    </button>
    <button mat-raised-button color="warn" (click)="resetCheckIn()" *ngIf="todayCheckIn">
      重新打卡
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" *ngIf="uploadProgressValue != 0"
                      [value]="uploadProgressValue"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
