<mat-card>
  <div class="text-center" matRipple>
    <img mat-card-avatar [src]="user?.headimgurl" alt="head_img" class="head_img" (click)="selectHeadImage()">
    <div class="mt-1">@{{user?.nickname}}</div>
  </div>
</mat-card>
<input type="file" [style.display]="'none'"
       (change)="onFileSelected($event)" #fileUpload accept="image/*">

<mat-card *ngIf="isAdmin()">
  <mat-form-field appearance="fill">
    <mat-label>设置当前角色</mat-label>
    <mat-select [formControl]="curRole">
      <mat-option value="admin">管理员</mat-option>
      <mat-option value="coach">教练</mat-option>
      <mat-option value="user">用户</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
