<div>
  <table mat-table [dataSource]="dataSource" class="w-100">
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> 操作</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" [routerLink]="'/admin/users/' + user?.id">
          <mat-icon>
            <fa-icon icon="edit"></fa-icon>
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Avatar -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> 头像</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element?.headimgurl" alt="head_img" class="head_img" style="height: 60px; width: 60px">
      </td>
    </ng-container>

    <!-- Nickname -->
    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef> 昵称</th>
      <td mat-cell *matCellDef="let element"> {{element?.nickname}} </td>
    </ng-container>

    <!-- Phone -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> 电话</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- roles -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> 角色</th>
      <td mat-cell *matCellDef="let element"> {{element.displayRoles()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
