<div class="mt-1">
  <h2 class="text-center text-">我的课程</h2>
</div>
<div *ngIf="courses.length === 0">
  <p class="text-center">无数据</p>
</div>
<div *ngIf="courses.length > 0">
  <ng-container *ngFor="let course of courses">
    <mat-card appearance="outlined" class="m-1">
      <mat-card-title>{{course.school.name}}</mat-card-title>
      <mat-card-subtitle>上课时间: {{course.startDate}} {{course.startTime}}</mat-card-subtitle>
      <mat-card-content>
        <p>
          负责人:
          <span>{{course.manager.name}}</span>
        </p>
        <p>
          教练:
          <span>{{course.coach?.name}}</span>
        </p>
        <p>
          助教:
          <span>{{displayAssistantCoaches(course.assistantCoaches)}}</span>
        </p>
        <p>
          上课打卡:
          <span>无</span>
        </p>
        <p>
          下课打卡:
          <span>无</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="'/courses/' + course.id">详情</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
